.second {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
}

.yindao {
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 70px;
    left: 50px;
}

.zhaung {
    width: 35%;
    position: absolute;
    top: 17%;
    left: 9%;
}

.guang {
    width: 40%;
    position: absolute;
    top: 16%;
    left: 40%;
}

.ni {
    width: 40%;
    position: absolute;
    top: 30%;
    right: 2%;
}

.mei {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 2%;
}

.shen {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 40%;
}

.yue {
    width: 35%;
    position: absolute;
    top: 55%;
    left: 10%;
}

.xiao {
    width: 35%;
    position: absolute;
    top: 60%;
    left: 30%;
}

.played {
    display: none;
}

.play {
    display: block;
}

.tiandengUnit {
    /* display: block; */
    opacity: 0;
}

.tiandeng {
    width: 22%;
    height: auto;
    position: absolute;
    right: 12%;
    bottom: 36%;
}

.tiandengwords {
    width: 30.1%;
    position: absolute;
    right: 7%;
    bottom: 32%;
}

.tiandenghand {
    height: 8%;
    position: absolute;
    right: 10%;
    bottom: 25%;
    z-index: 1;
}

.tiandenghandmove {
    height: 8%;
    position: absolute;
    right: 10%;
    bottom: 25%;
    z-index: 1;
    animation: 3s ease-out infinite tiandenghandmove;
}